{
  "accounts": [
    {
      "name": "chequing",
      "file": "../transactions/chequing.csv",
      "type": "bank_account",
      "fieldMapping": {
        "0": "date",
        "1": "name",
        "2": "outflow",
        "3": "inflow"
      }
    },
    {
      "name": "visa",
      "file": "../transactions/visa.csv",
      "type": "credit_card",
      "fieldMapping": {
        "0": "date",
        "1": "name",
        "2": "outflow",
        "3": "inflow",
        "4": "external_id"
      }
    }
  ]
}

